<!DOCTYPE html>
<html class="h-full">
<head>
    <title>Home Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="dark:bg-slate-900 bg-gray-100 flex h-full items-center py-16">
    <main class="w-full max-w-md mx-auto p-6">
        <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <div class="p-4 sm:p-7">
                <div class="text-center">
                    <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Welcome Back!</h1>
                    <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
                        Happy to see you again!
                    </p>
                </div>

                <div class="mt-5">
                    <div class="py-3 flex items-center text-xs text-gray-400 uppercase before:flex-[1_1_0%] before:border-t before:border-gray-200 before:me-6 after:flex-[1_1_0%] after:border-t after:border-gray-200 after:ms-6 dark:text-gray-500 dark:before:border-gray-600 dark:after:border-gray-600"></div>

                    <!-- Dashboard Links -->
                    <div class="grid gap-y-4">
                        <a href="/logout" class="block py-3 px-4 text-sm font-medium text-left rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700 dark:text-white">Log Out</a>
                    </div>
                    <!-- End Dashboard Links -->
                </div>
            </div>
        </div>
    </main>
</body>
</html>